@import url('https://fonts.googleapis.com/css?family=Cinzel|Hanalei+Fill|Kalam|Monoton');
html{
    background-color: transparent;
}
.require{
    color: rgb(255, 0, 0);
}
.box {
    margin: auto;
    width: 60%;
    color: rgb(255, 255, 255);
    background-image: url("https://obs.line-scdn.net/0h1a06E6E3bk4NT0HbuhERGTQZbSE-I31NaXk_TVEhMHooKCpLYSgpIC4bOC0gLykQZCklICgKMXgjK30ZZiE/w644");
    position: inherit;
}
h1{
    font-size: 2em;
    text-align: center;
    color: rgb(8, 129, 243)
}
a {
    color: rgb(235, 128, 109);
}
#file {
    background-color: rgb(150, 150, 150);
    color: black;
}
body {     	
    background-image: url("http://3.bp.blogspot.com/-NiwRd0J58N0/UhQey0pGK5I/AAAAAAAAIAc/D5oDutp4Cy4/s1600/cute+powerpoint+background+1.jpg");	
	background-repeat: no-repeat;
	background-position: inherit;
    background-attachment: fixed;
    background-size: 100%;

	font-family: 'Kalam', cursive;
	font-size: 1.5em;
	color: black;
	text-decoration: none;
}

form div {
    text-align: center;
    margin: 5px 0px;
}
form p {
    text-indent: 18%;
    margin: 5px 0px;
}
#name,#id,#univer {
    width: 50%;
}
#submit-btn{
    width: 20%;
    height: 50px;
    background-color: rgb(219, 180, 208);
}
section.hero {
    display: block;
}
#result{
    margin-bottom: 2%;
}
#select-file{
    background-color: rgb(249, 156, 118);
}